.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
*.txt
siminput.RData
!dfraw1.csv
!codebook_dfraw1.csv
!dfraw2.csv
!codebook_dfraw2.csv
!dfraw3.csv
!codebook_dfraw3.csv
20230206.RData
20230222.RData
Aug_Output
manuscript
reanalyze
lorenz
poster
test_output
graph*
